# Introduction to Python

## Variables and data types

__Exercise 1 a)__ Create four variables and assign values with different data types to them

In [40]:
#int, float, String, boolean

__Exercise 1 b)__ Print the variables using Python's built-in function print(_String_)

__Exercise 1 c)__ Print the data type of each variable using Python's built-in function type()

__Exercise 2__ How do we use variables? Explore with arithmetic operators (+, -, *, /)!

In [44]:
# Example
first_value = 3
second_value = 5

result = first_value + second_value
print(result)

8

## Example: Lists

In [45]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'mango', 'grapes']

In [46]:
fruits[0]

'orange'

In [47]:
fruits[1]

'apple'

In [48]:
fruits[-1]

'grapes'

We can also specify a range of indexes specifying where to start and end the range

In [49]:
fruits[2:5]

['pear', 'banana', 'kiwi']

In [50]:
fruits[2:]

['pear', 'banana', 'kiwi', 'mango', 'grapes']

In [51]:
fruits[:2]

['orange', 'apple']

__Exercise 3 a)__ Create a list with names of your friends and print the name of the first, second and last person

__Exercise 3 b)__ Print your list of names using different ranges

__Exercise 4 a)__ Count how many names you have added to the list using len(_[...]_)

__Exercise 4 b)__ Add a new name to your list using append(_item_)

__Exercise 4 c)__ Print the list. Does it look as expected?

__Exercise 4 d)__ Add a new name on the _third_ position in your list using insert(_position_, _item_)

__Exercise 4 e)__ Print the list. Does it look as expected?

__Exercise 4 f)__ Remove a name from the list using remove(_item_)

__Exercise 4 g)__ Print the list. Does it look as expected?

# Example: For loops

In [37]:
for fruit in fruits:
    print(fruit)

orange
apple
pear
banana
kiwi
apple
banana

In [39]:
for fruit in fruits:
    fruit = fruit + 's'
    print(fruit)

oranges
apples
pears
bananas
kiwis
apples
bananas

__Exercise 5 a)__ Print each name in your list of names

__Exercise 5 b)__ Add a small change to each name in your list

# Example: Dictionaries

In [52]:
countries = {"sweden" : "stockholm", "denmark" : "copenhagen", "norway" : "oslo"}

In [54]:
capital = countries["sweden"]
print(capital)

stockholm

__Exercise 6 a)__ Get the capital of Denmark and Norway using the dictionary _countries_

__Exercise 6 b)__ Add a new key-value pair to the dictionary _countries_

__Exercise 6 c)__ Print the dictionary. Does it look as expected?

__Exercise 6 d)__ Update Sweden's capital to Malmo

__Exercise 6 e)__ Print the dictionary. Does it look as expected?

__Exercise 6 f)__ Remove the key-value pair Sweden-Stockholm from the dictionary

__Exercise 6 g)__ Print the dictionary. Does it look as expected?

Country: sweden, Capital: stockholm
Country: denmark, Capital: copenhagen
Country: norway, Capital: oslo

__Exercise 6 g)__ Print each key-value pair in the dictionary countries

In [65]:
for key, value in countries.items():
    print(f"Country: {key}, Capital: {value}")

Country: sweden, Capital: stockholm
Country: denmark, Capital: copenhagen
Country: norway, Capital: oslo

# Example: Functions

In [ ]:
def function_name(param1, param2):
    # Block of code

We will start with creating a function that can add two numbers.

In [67]:
def add_two_numbers(number1, number2):
    result = number1 + number2
    return result

Let's try to use it!

In [68]:
add_two_numbers(1,2)

3

In [69]:
add_two_numbers(5,20)

25

__Exercise 7 a)__ Create a function that can calculate the difference between two numbers

__Exercise 7 b)__ Use the function. Does it return the expected results?

__Exercise 7 c)__ Create a function that can multiply two numbers

__Exercise 7 d)__ Use the function. Does it return the expected results?

__Exercise 7 e)__ Create a function that can divide two numbers

__Exercise 7 f)__ Use the function. Does it return the expected results?